* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* General measures */
.w-90 {
    width: 90%;
}

.w-100 {
    width: 100%;
}

.m-auto {
    margin: auto;
}

/* General rules */
:root {
    --primary-color: #0084fd;
    --text-white: #fff;
}

.flex {
    display: flex;
}

.j-center {
    justify-content: center;
}

.j-between {
    justify-content: space-between;
}

.a-center {
    align-items: center;
}

/* Start of header */
header {
    height: 80px;
    background-color: var(--primary-color);
    color: var(--text-white);
}

header .container {
    height: 100%;
}

.menu.desktop { /* show in desktop mode */
    display: none;
}

/* Start of media queries */
/* Layouts: mobile up to 767px, tablet from 768px and up, desktops from 992px and up */
/* Tablet layout from 768px and up */
@media screen and (min-width: 768px) {
}

/* Desktop layout from 992px and up */
@media screen and (min-width: 992px) {
    .menu.mobile-tablet {
        display: none;
    }
    .menu.desktop {
        display: inline-block;
    }
}


/* To do:
+ hidden menu desktop mode
+ 