* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* General measures */
.w-80 {
    width: 80%;
}

.w-90 {
    width: 90%;
}

.w-100 {
    width: 100%;
}

.m-auto {
    margin: auto;
}

.m-top {
    margin-top: 3rem;
}

.m-bot {
    margin-bottom: 3rem;
}

.m-top-small {
    margin-top: 1.5rem;
}

.m-bot-small {
    margin-bottom: 1.5rem;
}

.padding {
    padding: 1rem;
}

.padding-top-bott {
    padding: 1.5rem 0rem;
}

.btn {
    border-radius: 40px;
    padding: 20px 40px;
    font-weight: bolder;
}

.b-radius {
    border-radius: 20px;
}

.img-radius {
    border-radius: 50%;
}
/* End */

/* General structure rules */
:root {
    --primary-color: #0084fd;
    --primary-color-light: #b5ddff;
    --secondary-color: #9792e4;
    --text-white: #fff;
    --text-black: #000;
    --text-grey: #7b7b7b;
    --text-dark-grey: #5a6e7f;
    --tertiary-color: #333333;
}

.flex {
    display: flex;
}

.j-center {
    justify-content: center;
}

.j-between {
    justify-content: space-between;
}

.a-center {
    align-items: center;
}

.text-center {
    text-align: center;
}
/* End */

/* General font rules */
.font-smaller {
    font-size: 0.9rem;
}

.font-bigger {
    font-size: 3rem;
}

.c-violet {
    color: var(--secondary-color);
}

.f-weight {
    font-weight: bolder;
}

.line-height-high {
    line-height: 1.8rem;
}

/* End */

/* Start of header */
header {
    height: 80px;
    background-color: var(--primary-color);
    color: var(--text-white);
    position: sticky;
    top: 0px;
    z-index: 999;
}

header .container {
    height: 100%;
}

.menu.desktop { /* show in desktop mode */
    display: none;
}

header .btn {
    color: var(--text-black);
    background-color: var(--text-white);
}
/* End */

/* Start of main */

/* Start of section-1 */
#section-1 .container {
    background-color: var(--text-white);
}

#section-1 .box {
    background-color: var(--primary-color-light);
}

#section-1 i {
    color: var(--primary-color);
}

#section-1 h1 {
    color: var(--primary-color);
}

#section-1 .box p {
    font-weight: bold;
    color: var(--text-dark-grey);
}

#section-1 .btn {
    background-color: var(--primary-color);
    color: var(--text-white);
    border-style: none;
    width: 220px;
    font-size: 1rem
}

#section-1 .btn i {
    color: var(--text-white);
}

/* End */

/* Start of section-2 */
#section-2 {
    background-color: var(--secondary-color);
}

#section-2 .left {
    color: var(--text-white);
}

#section-2 .right {
    background-color: var(--text-white);
    color: var(--text-black);
}

#section-2 .right p {
    font-style: italic;
}

#section-2 .right i {
    background-color: var(--secondary-color);
    border-radius: 50%;
    padding: 10px;
}
/* End */

/* Start of section-3 */
#section-3 .box {
    background-color: var(--secondary-color);
    color: var(--text-white);
}

#section-3 .uppercase {
    text-transform: uppercase;
}
/* End */

/* Start of section-4 */
#section-4 {
    background-color: var(--secondary-color);
}

#section-4 .main-title {
    color: var(--text-white);
}

#section-4 .box {
    background-color: var(--text-white);
}

#section-4 .box h1, #section-4 .box h2 {
    color: var(--secondary-color);
}

#section-4 p {
    color: var(--text-grey);
}

#section-4 .btn {
    background-color: var(--secondary-color);
    color: var(--text-white);
    width: 40%;
}
/* End */

/* Start of section-5 */
#section-5 {
    background-color: var(--text-white);
}

#section-5 .btn {
    background-color: var(--secondary-color);
    color: var(--text-white);
    width: 50%;
    padding: 15px;
}

#section-5 .box:last-child {
    position: relative;
}

#section-5 .box:last-child p {
    font-size: 1.5rem;
}

#section-5 .fa-quote-left {
    position: absolute;
    top: 0px;
    left: 150px;
    font-size: 5rem;
    color: var(--secondary-color);
}
/* End */

/* Start of section-6 */
#section-6 {
    background-color: var(--secondary-color);
    color: var(--text-white);
}

#section-6 h3 {
    text-transform: uppercase;
    color: #d1d0f3;
    font-size: 0.9rem;
}

#section-6 h2 {
    font-size: 2.5rem;
}

#section-6 h1 {
    color: #fdc15f;
    font-size: 4rem;
}

#section-6 .btn {
    background-color: var(--text-white);
    color: var(--secondary-color);
    width: 40%;
}

#section-6 a {
    color: var(--text-white);
}
/* End */
/* End of main */

/* Start of footer */
footer {
    background-color: var(--tertiary-color);
    color: var(--text-white);
}

footer a {
    color: var(--secondary-color);
}
/* End of footer */

/* Start of media queries */
/* Layouts: mobile up to 767px, tablet from 768px and up, desktops from 992px and up */
/* Start of tablet layout from 768px and up */
@media screen and (min-width: 768px) {

    /* Start of main */
    /* Start of section-1 */
    #section-1 .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    #section-1 .box:first-child {
        width: calc(100% / 3 * 2 - 5px);
    }
    #section-1 .box:nth-child(2) {
        width: calc(100% / 3);
    }
    .box.row-2-tablet {
        width: calc(100% / 3 - 5px);
    }
    /* End */

    /* Start of section-3 */
    #section-3 .box {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    #section-3 .box div:first-child {
        width: calc(100% / 3 - 5px);
    }
    #section-3 .box div:last-child {
        width: calc(100% / 3 * 2 - 5px);
        padding-right: 10px;
    }
    #section-3 .box div:last-child p {
        text-align: left;
    }
    /* End */

    /* Start of section-4 */
    #section-4 .sub-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    #section-4 .box {
        width: calc(100% / 2 - 5px);
    }
    /* End */

    /* Start of section-5 */
    #section-5 .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    #section-5 .box:first-child {
        width: calc(100% / 3 * 2 - 5px);
    }
    #section-5 .box:last-child {
        width: calc(100% / 3 - 5px);
    }
    /* End */

    /* Start of section-6 */
    #section-6 .container {
        width: 70%;
    }
    /* End */
    /* End of main */

    /* Start of footer */
    footer .container {
        width: 50%;
    }
    /* End */
}
/* End of tablet layout */

/* Start of desktop layout from 992px and up */
@media screen and (min-width: 992px) {

    /* Start of general measures */
    .w-90 {
        width: 70%;
    }
    /* End */

    /* Start of header */
    .menu.mobile-tablet {
        display: none;
    }
    .menu.desktop {
        display: block;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .menu.desktop div {
        padding: 0px 15px;
    }
    /* End */

    /* Start of main */
    /* Start of section-1 */
    #section-1 .box:first-child {
        display: flex;
    }
    /* End */

    /* Start of section-2 */
    #section-2 .container {
        display: flex;
        justify-content: space-between;
    }
    #section-2 .box {
        width: calc(100% / 2 - 5px);
    }
    #section-2 .box:last-child {
        align-self: flex-end;
    }
    /* End */

    /* Start of section-4 */
    #section-4 .box {
        width: calc(100% / 3 - 5px);
    }
    /* End */

    /* Start of section-5 */
    /* End */

    /* Start of section-6 */
    #section-6 .container {
        width: 50%;
    }
    /* End */
    /* End of main */

    /* Start of footer */
    footer .container {
        width: 40%;
    }
    /* End */
}
/* End of desktop layout */

/* Debug rules */
.debug {
    border: 1px dashed red;
}

.box {

}

.height {
    height: 400px;
}

/* To do:
+ desktop layout for first box in section-1
+ 